[submodule "safesession"]
	path = safesession
	url = git@github.com:koshikraj/safesession.git
	branch = main
[submodule "spendlimit-session"]
	path = spendlimit-session
	url = https://github.com/koshikraj/spendlimit-session
	branch = main
[submodule "safe-7579-validator"]
	path = safe-7579-validator
	url = https://github.com/koshikraj/safe-7579-demo
	branch = main
[submodule "safesub"]
	path = safesub
	url = https://github.com/koshikraj/safesub
	branch = main	
[submodule "safe-passkey-validator"]
	path = safe-passkey-validator
	url = https://github.com/koshikraj/safe-passkey-validator
	branch = main
[submodule "safe-whitelist-hook"]
	path = safe-whitelist-hook
	url = https://github.com/koshikraj/safe-whitelist-hook
	branch = main
[submodule "safe-blacklist-hook"]
	path = safe-blacklist-hook
	url = https://github.com/koshikraj/safe-blacklist-hook
	branch = main
[submodule "safelink"]
	path = safelink
	url = https://github.com/koshikraj/safelink
	branch = main
[submodule "safefaucet"]
	path = safefaucet
	url = https://github.com/koshikraj/safefaucet
	branch = main
